*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.main{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

.main .logo img{
    width: 120px;
    height: 120px;
    padding: 10px;
}

.main nav{
    margin-right: 90px;
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.main nav a:hover{
    color: green;
}

main img{
    width: 100%;
    height: 750px;
}

.about{
    background-color: lightgrey;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.twist{
    color: red;
    text-transform: capitalize;
    font-size: larger;
}

#p1{
    font-size: large;
}

#middle{
    width: 300px;
    height: 300px;
    opacity: 0.7;
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 80px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: yellowgreen;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}

#icon1{
    width: 70px;
    height: 70px;
}

#icon2{
    width: 70px;
    height: 70px;
}

#icon3{
    width: 70px;
    height: 70px;
}

#icon4{
    width: 70px;
    height: 70px;
}